{
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        "chrome": 52,
        "ie": 11,
        "firefox": 50
      },
      "useBuiltIns": "usage"
    }],
    "react",
    "flow"
  ],
  "plugins": [
    "transform-object-rest-spread",
    "react-hot-loader/babel"
  ]
}
